include "Watlow_PM_IOC_Alarm.template"
include "Watlow_PM_Alarm.template"
#include "Watlow_PM_Analog_Input.template"
include "Watlow_PM_General.template"
include "Watlow_PM_Limits.template"
#include "Watlow_PM_Linearization.template"
include "Watlow_PM_Loop.template"
include "Watlow_PM_Monitor.template"
include "Watlow_PM_Output_1.template"
include "Watlow_PM_Output_2_and_3.template"
#include "Watlow_PM_Process_Value.template"
